pyrogram==2.0.106
tgcrypto
pymongo
motor
umongo==3.0.1
marshmallow>=3.10.0,<4.0.0
requests
python-dotenv
imdbpy
beautifulsoup4
googletrans==4.0.0rc1
aiofiles
aiohttp
wget
youtube-search-python
yt-dlp
youtube_dl
youtube-search
telegraph
gTTS
wikipedia
pillow
pyshorteners
ytthumb

